doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/style.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")

        script(src="../js/index.js") 
        title Document
    body
        .m-popup
            .container
                header
                    .row
                        .col-12.d-flex.justify-content-end
                            a(href="")
                                img(src="../../assets/images/icon-19.svg" alt="")
                    .row
                        .col-12
                            h1.m-popup2-h1 Thêm mới câu hỏi 
                main
                    section
                        .row
                            .col-1
                            .col-2 
                                span.m-popup2-span Câu hỏi 
                            .col-9.d-flex.flex-column
                                input.m-popup2-input(placeholder="Nhập câu hỏi")
                                .d-flex.align-items-center.mt-4
                                    label(for="m-anh").m-popup2-label.d-flex.align-items-center.px-2
                                        input(type="file")#m-anh.d-none
                                        img(src="../../assets/images/icon-24.svg" alt="").mx-2
                                        span.m-popup2-label__span Chọn thêm ảnh
                                    input.m-popup2-input(readonly)
                        .row.mt-4
                            .col-1
                            .col-2 
                                span.m-popup2-span Mức độ<strong>*</strong>
                            .col-9
                                .m-popup2-select
                                    select.m-popup2-select1
                                        option(selected) Nhấn để chọn
                                    .m-popup2-select2
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                                            <path d="M12.4973 1.19435C12.3956 1.06711 12.2748 0.966169 12.1417 0.897295C12.0087 0.828421 11.8661 0.792969 11.7221 0.792969C11.5781 0.792969 11.4355 0.828421 11.3025 0.897295C11.1695 0.966169 11.0487 1.06711 10.9469 1.19435L6.68069 6.51964L2.41444 1.19435C2.20885 0.937721 1.93001 0.79355 1.63926 0.79355C1.34851 0.79355 1.06967 0.937721 0.864077 1.19435C0.658485 1.45097 0.542987 1.79903 0.542987 2.16196C0.542987 2.52488 0.658485 2.87294 0.864077 3.12957L5.91101 9.42933C6.01273 9.55657 6.13356 9.65751 6.26658 9.72639C6.39959 9.79526 6.54218 9.83071 6.68619 9.83071C6.8302 9.83071 6.97279 9.79526 7.1058 9.72639C7.23882 9.65751 7.35965 9.55657 7.46137 9.42933L12.5083 3.12957C12.9261 2.60802 12.9261 1.72962 12.4973 1.19435Z" fill="black"/>
                                        </svg>
                        .row.mt-4
                            .col-2
                            .col-2 
                                span.m-popup2-span Đáp án 1<strong>*</strong>
                            .col-8
                                input.m-popup2-input(placeholder="Nhập đáp án")
                        .row.mt-4
                            .col-2
                            .col-2 
                                span.m-popup2-span Đáp án 2<strong>*</strong>
                            .col-8
                                input.m-popup2-input(placeholder="Nhập đáp án")
                        .row.mt-4
                            .col-2
                            .col-2 
                                span.m-popup2-span Đáp án 3
                            .col-8
                                input.m-popup2-input(placeholder="Nhập đáp án")
                        .row.mt-4
                            .col-2
                            .col-2 
                                span.m-popup2-span Đáp án 4
                            .col-8
                                input.m-popup2-input(placeholder="Nhập đáp án")
                        .row.mt-4
                            .col-2
                            .col-2
                                spam.m-popup2-span Đáp án đúng
                            .col-8
                                .m-popup2-select
                                    select.m-popup2-select1
                                        option(selected) Nhấn để chọn
                                    .m-popup2-select2
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                                            <path d="M12.4973 1.19435C12.3956 1.06711 12.2748 0.966169 12.1417 0.897295C12.0087 0.828421 11.8661 0.792969 11.7221 0.792969C11.5781 0.792969 11.4355 0.828421 11.3025 0.897295C11.1695 0.966169 11.0487 1.06711 10.9469 1.19435L6.68069 6.51964L2.41444 1.19435C2.20885 0.937721 1.93001 0.79355 1.63926 0.79355C1.34851 0.79355 1.06967 0.937721 0.864077 1.19435C0.658485 1.45097 0.542987 1.79903 0.542987 2.16196C0.542987 2.52488 0.658485 2.87294 0.864077 3.12957L5.91101 9.42933C6.01273 9.55657 6.13356 9.65751 6.26658 9.72639C6.39959 9.79526 6.54218 9.83071 6.68619 9.83071C6.8302 9.83071 6.97279 9.79526 7.1058 9.72639C7.23882 9.65751 7.35965 9.55657 7.46137 9.42933L12.5083 3.12957C12.9261 2.60802 12.9261 1.72962 12.4973 1.19435Z" fill="black"/>
                                        </svg>
                        .row.mt-4
                            .col-2
                            .col-2
                                spam.m-popup2-span Giải thích
                            .col-8
                                input.m-popup2-input()
                        .row.mt-4
                            .col-4
                            .col-4.d-flex.align-items-center.justify-content-center
                                a.app36-head__btn.default.px-4.mx-2(href="") Hủy bỏ
                                a.app36-head__btn.px-4.mx-2(href="") Lưu
                            .col-4
        script(src="../js/bootstrap.min.js") 


