doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/style.css")
        script(src="../js/index.js") 
        title Document
    body
        .popupn1
            .popupn1-body
                h1.popupn1-title Nhập mã phòng thi
                p.popupn1-p Vui lòng nhập mã cuộc thi để tham gia .Mã cuộc thi là mã do người tổ chức cuộc thi cung cấp
                input.popupn1-input

                a.popupn1-btn(href="") Tham gia
                span.popupn1-closepopup 
                    img(src="../assets/images/app14-close.png")


