doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/style.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")

        script(src="../js/index.js") 
        title Document
    body
        .m-popup
            .container
                header
                    .row
                        .col-12.d-flex.justify-content-end
                            a(href="")
                                img(src="../../assets/images/icon-19.svg" alt="")
                main
                    section
                        .row
                            .col-12.d-flex.flex-column
                                h1.m-popup-h1 Danh sách bộ đề thi sẵn có trong hệ thống
                                p.m-popup-p Vui lòng chọn để thêm đề thi cho cuộc thi của bạn
                                a(href="").m-popup-link1 Số đề thi bạn đã chọn cho cuộc thi: 1 Đề thi
                        .row
                            .col-12.m-popup-table
                                table
                                    thead
                                        tr
                                            th STT
                                            th Đề thi
                                            th Số câu hỏi
                                            th Thời gian làm bài
                                            th Tổng điểm
                                            th Mô tả
                                            th 
                                    tbody
                                        tr
                                            td 1
                                            td
                                                a(href="").m-popup-link2 Đề thi số 1
                                            td 20
                                            td 60 phút
                                            td 100
                                            td Đề thi cho cấp 1
                                            td
                                                a(href="").m-popup-btn Chọn 
                                        tr
                                            td 1
                                            td
                                                a(href="").m-popup-link2 Đề thi số 1
                                            td 20
                                            td 60 phút
                                            td 100
                                            td Đề thi cho cấp 1
                                            td
                                                a(href="").m-popup-btn Chọn 
                                        tr
                                            td 1
                                            td
                                                a(href="").m-popup-link2 Đề thi số 1
                                            td 20
                                            td 60 phút
                                            td 100
                                            td Đề thi cho cấp 1
                                            td
                                                a(href="").m-popup-btn Chọn 
                                        tr
                                            td 1
                                            td
                                                a(href="").m-popup-link2 Đề thi số 1
                                            td 20
                                            td 60 phút
                                            td 100
                                            td Đề thi cho cấp 1
                                            td
                                                a(href="").m-popup-btn Chọn 
            
        script(src="../js/bootstrap.min.js") 


