.index-10-banner
    .container
        h2 Tin Tức
.app10
    .container  
        
        .app10-left
            .app10-title
                h1.app10-title__h1  TIN MỚI NHẤT
                .app10-title__input
                    input(placeholder="Nhập nội dung tin tìm kiếm").app10-title__input1
                    a.app10-title__input2(href="")
                        img(src="../assets/images/search.png" alt="")
                    .app10-title__input3
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M2.26502 2.37623L2.31565 2.31565C2.46751 2.16377 2.70326 2.1469 2.87377 2.26502L2.93436 2.31565L7 6.38138L11.0656 2.31565C11.2365 2.14478 11.5135 2.14478 11.6844 2.31565C11.8552 2.4865 11.8552 2.76351 11.6844 2.93436L7.61863 7L11.6844 11.0656C11.8362 11.2175 11.8531 11.4532 11.735 11.6238L11.6844 11.6844C11.5325 11.8362 11.2968 11.8531 11.1262 11.735L11.0656 11.6844L7 7.61863L2.93436 11.6844C2.76351 11.8552 2.4865 11.8552 2.31565 11.6844C2.14478 11.5135 2.14478 11.2365 2.31565 11.0656L6.38138 7L2.31565 2.93436C2.16377 2.78249 2.1469 2.54674 2.26502 2.37623L2.31565 2.31565L2.26502 2.37623Z" fill="black"/>
                        </svg>
                a(href="").app10-title__a Tìm kiếm
            
            .app10-left__itemt
                .app10-left__itemt1
                    img(src='../assets/images/app11.jpeg' alt='').app10-left__itemt1-img
                    h3.app10-left__itemt1-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    p.app10-left__itemt1-p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......
                .app10-left__itemt2
                    img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemt2-img
                    h3.app10-left__itemt2-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                .app10-left__itemt2.app10-left__itemt3
                    img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemt2-img
                    h3.app10-left__itemt2-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
            .carousel.slide#app10-carousel.app10-carousel(data-bs-ride="carousel")
                .carousel-inner
                    .carousel-item.active
                        .app10-list
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    
                    .carousel-item
                        .app10-list
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    .carousel-item
                        .app10-list
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            .app10-carousel__item
                                img.app10-carousel__item-img(src="../assets/images/tt5.jpeg" alt="")
                                h3.app10-carousel__item-h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                .app10-carousel__control1l.app10-carousel__control1.carousel-control-prev(data-bs-target="#app10-carousel" data-bs-slide="prev")
                    span.carousel-control-prev-icon.app10-carousel__control
                .app10-carousel__control1r.app10-carousel__control1.carousel-control-next(data-bs-target="#app10-carousel" data-bs-slide="next")
                    span.carousel-control-next-icon.app10-carousel__control
            .carousel.slide#app10-carouselmb.app10-carouselmb
                .carousel-inner
                    .carousel-item.active
                        a.app10-carouselmb__item(href="")
                            img.app10-carouselmb__item-img(src="../assets/images/tt11.jpg" alt="")
                            p.app10-carouselmb__item-p 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    .carousel-item
                        a.app10-carouselmb__item(href="")
                            img.app10-carouselmb__item-img(src="../assets/images/tt11.jpg" alt="")
                            p.app10-carouselmb__item-p 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    .carousel-item  
                        a.app10-carouselmb__item(href="")
                            img.app10-carouselmb__item-img(src="../assets/images/tt11.jpg" alt="")
                            p.app10-carouselmb__item-p 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu

                .carousel-indicators.app10-indicators
                    button(data-bs-target="#app10-carouselmb" data-bs-slide-to="0").app10-indicators__btn.active
                    button(data-bs-target="#app10-carouselmb" data-bs-slide-to="1").app10-indicators__btn
                    button(data-bs-target="#app10-carouselmb" data-bs-slide-to="2").app10-indicators__btn
            .app10-left__itemb
                h1.app10-title__h11 TIN NỔI BẬT
                .app10-left__itembpc
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                
                    .app10-control
                        a.app10-control__a(href="")
                            img(src="../assets/images/row2.png" alt="").app10-control__a-img1
                        ul.app10-control__ul
                            li
                                a.app10-control__ul-a(href="").active 1
                            li
                                a.app10-control__ul-a(href="") 2
                            li
                                a.app10-control__ul-a(href="") 3
                        a.app10-control__a(href="")
                            img(src="../assets/images/row2.png" alt="").app10-control__a-img2
                .app10-left__itembmb
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    .app10-left__itembmb1-img
                        img.app10-left__itembmb1-img1(src="../assets/images/poster1.jpg" alt="")
                        img.app10-left__itembmb1-img1(src="../assets/images/poster2.jpg" alt="")
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-left__itemb1
                        img(src='../assets/images/tt5.jpeg' alt='').app10-left__itemb1-img
                        .app10-left__itemb1-des
                            h3.app10-left__itemb1-des__h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p.app10-left__itemb1-des__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                            .app10-left__itemb1-desmb
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97885 1.26382C4.57604 1.26382 1.80777 4.0321 1.80777 7.43491C1.80777 10.8377 4.57604 13.606 7.97885 13.606C11.3817 13.606 14.1499 10.8377 14.1499 7.43491C14.1499 4.0321 11.3817 1.26382 7.97885 1.26382ZM7.97885 14.695C3.97563 14.695 0.71875 11.4381 0.71875 7.43491C0.71875 3.43169 3.97563 0.174805 7.97885 0.174805C11.9821 0.174805 15.239 3.43169 15.239 7.43491C15.239 11.4381 11.9821 14.695 7.97885 14.695Z" fill="#979797"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4691 10.1155C10.374 10.1155 10.2781 10.0908 10.1903 10.0393L7.45322 8.4065C7.28914 8.30777 7.1875 8.12989 7.1875 7.93823V4.41853C7.1875 4.11796 7.43144 3.87402 7.73201 3.87402C8.0333 3.87402 8.27652 4.11796 8.27652 4.41853V7.62895L10.7486 9.10275C11.0063 9.25739 11.0913 9.59135 10.9373 9.84981C10.835 10.0204 10.6542 10.1155 10.4691 10.1155Z" fill="#979797"/>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 11/4/2023 
                                .app10-left__itemb1-desmb1
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.90974 4.72183C6.94414 4.72183 6.15933 5.50737 6.15933 6.47296C6.15933 7.43783 6.94414 8.22265 7.90974 8.22265C8.87533 8.22265 9.66087 7.43783 9.66087 6.47296C9.66087 5.50737 8.87533 4.72183 7.90974 4.72183ZM7.90974 9.31166C6.34373 9.31166 5.07031 8.03824 5.07031 6.47296C5.07031 4.90696 6.34373 3.63281 7.90974 3.63281C9.47574 3.63281 10.7499 4.90696 10.7499 6.47296C10.7499 8.03824 9.47574 9.31166 7.90974 9.31166Z" fill="#979797"/>
                                        <mask id="mask0_4625_227" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.650391 0.626953H15.1705V12.3193H0.650391V0.626953Z" fill="white"/>
                                        </mask>
                                        <g mask="url(#mask0_4625_227)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79045 6.47272C3.14083 9.4559 5.41542 11.2295 7.91072 11.2303C10.406 11.2295 12.6806 9.4559 14.031 6.47272C12.6806 3.49027 10.406 1.71663 7.91072 1.71591C5.41615 1.71663 3.14083 3.49027 1.79045 6.47272ZM7.91176 12.3194H7.90886H7.90813C4.90535 12.3172 2.20895 10.2125 0.694496 6.68774C0.635689 6.55053 0.635689 6.39516 0.694496 6.25794C2.20895 2.73389 4.90608 0.629187 7.90813 0.627009C7.90958 0.626283 7.90958 0.626283 7.91031 0.627009C7.91176 0.626283 7.91176 0.626283 7.91249 0.627009C10.9153 0.629187 13.6117 2.73389 15.1261 6.25794C15.1857 6.39516 15.1857 6.55053 15.1261 6.68774C13.6124 10.2125 10.9153 12.3172 7.91249 12.3194H7.91176Z" fill="#979797"/>
                                        </g>
                                    </svg>
                                    span.app10-left__itemb1-desmb1__span 1.234
                    
                    .app10-control
                        a.app10-control__a(href="")
                            img(src="../assets/images/row2.png" alt="").app10-control__a-img1
                        ul.app10-control__ul
                            li
                                a.app10-control__ul-a(href="").active 1
                            li
                                a.app10-control__ul-a(href="") 2
                            li
                                a.app10-control__ul-a(href="") 3
                        a.app10-control__a(href="")
                            img(src="../assets/images/row2.png" alt="").app10-control__a-img2
              
        .app10-right
            img(src="../assets/images/poster1.jpg" alt="").app10-right__img1
            img(src="../assets/images/poster2.jpg" alt="").app10-right__img1.app10-right__img2
