.app28
    .container
        .app28-body
            span.app28-span Tra cứu /Tra cứu vi phạm
            .app28-body__ul
                .app28-body__ul-li
                    span.app28-body__ul-li__span Biển số xe
                    input.app28-body__ul-li__input
                .app28-body__ul-li
                    span.app28-body__ul-li__span Loại phương tiện
                    select.app28-body__ul-li__select
                        option(selectd) Ô TÔ
                        option XE MÁY
                .app28-body__ul-li.app28-body__ul-li3
                    span.app28-body__ul-li__span Mã bảo mật
                    .app28-body__ul-li__em
                        p.app28-body__ul-li__p MKLUH
                        input.app28-body__ul-li__input1.app28-body__ul-li__input
            a.app28-body__a(href="") TRA CỨU
            .app28-body__ul2
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Biển kiểm soát:            
                    .app28-body__ul2-li__p 30A-678.92
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Màu biển:                  
                    .app28-body__ul2-li__p Nền mầu trắng, chữ và số màu đen
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Loại phương tiện:          
                    .app28-body__ul2-li__p Ô tô
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Thời gian vi phạm:         
                    .app28-body__ul2-li__p 09:39, 05/06/2021
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Địa điểm vi phạm:          
                    .app28-body__ul2-li__p Km85+100
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Hành vi vi phạm:           
                    .app28-body__ul2-li__p Điều khiển xe chạy quá tốc độ quy định từ 10km/h đến 20 km/h
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Trạng thái:                
                    .app28-body__ul2-li__p.app28-body__ul2-li__p1 ĐÃ XỬ PHẠT
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Đơn vị phát hiện vi phạm:  
                    .app28-body__ul2-li__p Đội TTKSGTĐB số 1, Phòng 8 - Cục Cảnh sát giao thông
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Nơi giải quyết vụ việc:    
                    .app28-body__ul2-li__p 1. Đội TTKSGTĐB số 1, Phòng 8 - Cục Cảnh sát giao thông
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Địa chỉ:                   
                    .app28-body__ul2-li__p Đội TTKSGTĐB cao tốc số 1
                .app28-body__ul2-li
                    .app28-body__ul2-li__h2 Số điện thoại liên hệ:     
                    .app28-body__ul2-li__p 02435816399



             

       



   
                
                