.banner29
    .container 
        h2.banner29-h2 TRA CỨU KẾT QUẢ THI
.app29
    .container.app29-container
        .app29-search
            span.app29-search__span Tìm kiếm cuộc thi theo mã
            .app29-search__body
                input.app29-search__body-input(placeholder="Nhập mã cuộc thi để tìm kiếm")
                a.app29-search__body-a(href="") Tìm kiếm
        h1.app29-heading Cuộc thi đã tham gia
        .app29-ct
            ul.app29-ul
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a(href="").app29-ul__li-span__a Xem xếp hạng
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a(href="").app29-ul__li-span__a Xem xếp hạng
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a(href="").app29-ul__li-span__a Xem xếp hạng
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a(href="").app29-ul__li-span__a Xem xếp hạng
                                
                    