.banner32
    .container 
      
.app32
    .container.app32-container
        .app32-select
            h2.app32-select__title CHỌN CẤP THI ĐỂ TÌM KIẾM CUỘC THI
            .app32-select__ul
                .app32-select__ul-li
                    a.app32-select__ul-li__a(href="").active Quốc gia
                .app32-select__ul-li
                    a.app32-select__ul-li__a(href="") Thành phố/Tỉnh
                .app32-select__ul-li
                    a.app32-select__ul-li__a(href="") Quận/Huyện
                .app32-select__ul-li
                    a.app32-select__ul-li__a(href="") Trường Học
        .app29-ct.app32-ct
            ul.app29-ul
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Tìm kiếm cuộc<br> thi theo mã
                        
                    img(src="../assets/images/img-nn1.png",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a.app29-ul__li-span__a(href="") Tham gia
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a.app29-ul__li-span__a(href="") Tham gia
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a.app29-ul__li-span__a(href="") Tham gia
                li.app29-ul__li
                    em.app29-ul__li-em
                        h3.app29-ul__li-em__h3 Cuộc thi <br>An toàn giao thông
                        p.app29-ul__li-em__p Thời gian : 20/12 -22/01
                        p.app29-ul__li-em__p Cấp: Cấp trường học
                    img(src="../assets/images/image6.jpg",alt="").app29-ul__li-img
                    span.app29-ul__li-span
                        a.app29-ul__li-span__a(href="") Tham gia
            
    


                