.banner31
  .container 
    h2.banner31-h2 Kết quả thi
    h2.banner31-h2 Cuộc thi an toàn giao thông quốc gia
.app31
  .container.app31-container
    .app31-left    
        .app31-left__select
            .app31-left__select1.app31-left__select-1.custom-select
                select
                    option(selected) Thành phố/ Tỉnh
                    option Quận/Huyện 
                    option Quận/Huyện 
                    option Quận/Huyện 

            .app31-left__select1.custom-select
                select
                    option(selected) Quận/Huyện 
                    option Quận/Huyện 
                    option Quận/Huyện   

            .app31-left__select1.app31-left__select-3.custom-select
                select
                    option(selected) Trường học
                    option Trường học

            .app31-left__select1.custom-select
                select
                    option(selected) Khối lớp
                    option Khối lớp
            
            a(href="").app31-left__select3
                img(src="../assets/images/icon-reload.svg" alt="reload").app31-select3-img
                
            a(href="").app31-left__select2 Xem kết quả

        .app31-left__search
            p.app31-left__slot 12.000 học sinh tham gia
            label.app31-left__search-label
                input.app31-left__search-input(placeholder="Nhập ID học sinh để tìm kiếm ")
                img(src="../assets/images/icon-remove.svg" alt="remove-text").app31-left__search-img
            a.app31-left__search-btn(href="") Tìm kiếm
        .app31-left__table
            table
                thead
                    tr 
                        th Xếp hạng
                        th Họ và tên
                        th Trường học
                        th Thành phố/Tỉnh
                        th Khối lớp
                        th Điểm 
                        th Thời gian

                tbody
                    tr 
                        td 1
                        td Nguyễn Ngọc Hoàn
                        td THPT Vũ Văn Hiếu
                        td 1200 
                        td 1/100 
                        td 1200 
                        td 1/100  
                    tr 
                        td 1
                        td Nguyễn Ngọc Hoàn
                        td THPT Vũ Văn Hiếu
                        td 1200 
                        td 1/100 
                        td 1200 
                        td 1/100  
                
                    tr 
                            td 1
                            td Nguyễn Ngọc Hoàn
                            td THPT Vũ Văn Hiếu
                            td 1200 
                            td 1/100 
                            td 1200 
                            td 1/100  
                    
                
            .control31
                a(href="").control31-btn
                    img(src="../assets/images/icon-n.svg" alt="")
                .control31-ul
                    .control31-ul__li
                        a(href="").control31-ul__li-a.active 1
                    .control31-ul__li
                        a(href="").control31-ul__li-a 2
                    .control31-ul__li
                        a(href="").control31-ul__li-a 3
                a(href="").control31-btn.control31-btn2
                    img(src="../assets/images/icon-n.svg" alt="")
        
    //- .app31-right
    //-     .app31-right__ul
    //-         .app31-right__ul-li
    //-             img(src="../assets/images/8.png" alt="").app31-right__ul-li__img
    //-         .app31-right__ul-li
    //-             p.app31-right__ul-li__p Nguyễn Ngọc Hoàn
    //-             .app31-right__ul-li__em
    //-                 span.app31-right__ul-li__em-span Khối:
    //-                     p.app31-right__ul-li__em-p 12
    //-                 span.app31-right__ul-li__em-span Lớp:
    //-                     p.app31-right__ul-li__em-p 12A12
    //-             span.app31-right__ul-li__span Trường:
    //-                 p.app31-right__ul-li__p THPT Vũ Văn Hiếu
    //-     .app31-right__ul2
    //-         .app31-right__ul2-li
    //-             span.app31-right__ul2-li__span Điểm : 
    //-             p.app31-right__ul2-li__p 12000
    //-         .app31-right__ul2-li
    //-             span.app31-right__ul2-li__span Xếp hạng: 
    //-             p.app31-right__ul2-li__p 1/12000
    //-         .app31-right__ul2-li
    //-             span.app31-right__ul2-li__span Đã tham gia: 
    //-             p.app31-right__ul2-li__p 4/4 bài thi
    //-         .app31-right__ul2-li
    //-             span.app31-right__ul2-li__span Thời gian tam gia :
    //-             p.app31-right__ul2-li__p 24 giờ
    //-     a.app31-right__btn(href="") Xem chi tiết




