.app35
    .app35-head
        .container
            h1.app35-head__h1 Danh sách cuộc thi
    .container
        .app35-search
            h2.app35-search__h2 Trạng thái
            .app35-search__select
                    select.app35-search__select1
                        option(selected) Tất cả
            .app35-search__input
                input(placeholder="Nhập tên cuộc thi tìm kiếm").app35-search__input1
                img(src="../assets/images/search.png" alt="").app35-search__input2
            a(href="").app35-search__btn Thêm mới
        .app35-table
            table
                thead
                    tr
                        th STT
                        th Tên cuộc thi
                        th Mã phòng thi
                        th Thời gian bắt đầu
                        th Thời gian kết thúc
                        th Trạng thái
                        th Số học viên tham gia
                        th 
                tbody
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/login-ear.png" alt="").app35-table__img1
                                
                    tr
                        td 1
                        td Cuộc thi an toàn giao thông
                        td 
                            .d-flex.align-items-center
                                img(src="../assets/images/icon-13.svg" alt="").app35-table__img
                                p.app35-table__p PHUDGHĐS
                        td 10h30ph 1/1/2032
                        td 10h30ph 15/12/2022
                        td Chưa tạo đề
                        td 0
                        td 
                            .d-flex.align-items-center.justify-content-center
                                a(href="")
                                    img(src="../assets/images/icon-14.svg" alt="").app35-table__img1
                                a(href="")
                                    img(src="../assets/images/icon-15.svg" alt="").app35-table__img1
