.app37
    .app37-head.app35-head
        .container.d-flex.justify-content-between
            h1.app35-head__h1 Chi tiết cuộc thi
            .d-flex
                a.app36-head__btn.default(href="") Lưu cập nhật
                a.app37-head__btn2(href="") Gửi yêu cầo tạo cuộc thi
    .container
        .row.mt-4
            .col-3
                span.app36-span Mã cuộc thi
            .col-9.d-flex.align-items-center
                span.app36-span H78AKI
                a.app38-a(href="") Sao chép mã

                .row.d-flex.align-items-center
                    .col-2
                    .col-7
                        span.app36-span Yêu cầu nhập mã để tham gia

                    .col-3.d-flex
                        .form-check.d-flex.align-items-center
                            input(type="radio" name="optradio" value="option3")#radio3.form-check-input 
                            label.form-check-label(for="radio3") Bật
                        .form-check.d-flex.align-items-center
                            input(type="radio" name="optradio" value="option4")#radio4.form-check-input 
                            label.form-check-label(for="radio4") Tắt
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Cấp thi
            .col-9
                .app36-select
                    select.app36-select1.app36-select2
                        option(selected) Quốc gia
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Trạng thái
            .col-9
                .app38-state Lưu nháp
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Tên cuộc thi
            .col-9
                input.app36-input1(placeholder="Quy tắc giao thông")
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Mô tả
            .col-9
                input.app36-input1(placeholder="Cuộc thi an toàn giao thông tỉnh Nam Định")
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Thời gian bắt đầu
            .col-9
                .row
                    .col-6.app36-input3
                        input(type="time").app36-select1.app36-input1
                    .col-6
                        input(type="date").app36-select1.app36-input2
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Thời gian kết thúc
            .col-9
                .row
                    .col-6.app36-input3
                        input(type="time").app36-select1.app36-input1
                    .col-6
                        input(type="date").app36-select1.app36-input2
        
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Đề thi
            .col-9.d-flex.align-items-center
                a(href="").app37-btn Tạo đề thi thủ công
                a(href="").app37-btn.mx-4 Chọn từ bộ đề có sẵn
        .row.mt-4.app38-table
            .col-12
                table
                    thead
                        tr
                            th STT
                            th Đề thi
                            th Số câu
                            th Thời gian làm bài
                            th Điểm 
                            th Chức năng
                    tbody
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 
                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    img(src="../assets/images/icon-14.svg" alt="")
                                    img(src="../assets/images/icon-15.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    img(src="../assets/images/icon-14.svg" alt="")
                                    img(src="../assets/images/icon-15.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    img(src="../assets/images/icon-14.svg" alt="")
                                    img(src="../assets/images/icon-15.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    img(src="../assets/images/icon-14.svg" alt="")
                                    img(src="../assets/images/icon-15.svg" alt="")
                