.app34
    .container
        .app34-body
            span.app34-span Thống kê
            .app34-select
                p.app34-select__p Số người dùng của nền tảng ATGT toàn quốc
                .app34-select__item
                    img.app34-select__item1(src="../assets/images/icon-nn4.svg" alt="")
                    .dropdown.js-selectn1
                        a.dropdown-toggle(data-bs-toggle="dropdown").app34-select__item2.js-selectn2 Tất cả
                        ul.dropdown-menu.js-selectn3
                            li.app34-select__item2-li
                                a.dropdown-item(href="#").app34-select__item2-a Tất cả
                            li.app34-select__item2-li
                                a.dropdown-item(href="#").app34-select__item2-a 7 ngày gần nhất

                            li.app34-select__item2-li
                                a.dropdown-item(href="#").app34-select__item2-a Tháng này
                            li.app34-select__item2-li
                                a.dropdown-item(href="#").app34-select__item2-a Tháng trước
                            li.app34-select__item2-li
                                a.dropdown-item(href="#").app34-select__item2-a Tùy chọn 
                            li.app34-select__item2-li
                                em.app34-select__item2-em
                                    span.app34-select__item2-span Ngày bắt đầu
                                    input(type='date').app34-select__item2-input
                                em.app34-select__item2-em
                                    span.app34-select__item2-span Ngày kết thúc
                                    input(type='date').app34-select__item2-input
                            li.app34-select__item2-li
                                em.app34-select__item2-em
                                    a(href='').app34-select__item2-em__a.app34-select__item2-em__a1 Hủy 
                                em.app34-select__item2-em
                                    a(href='').app34-select__item2-em__a Lọc  
                            
                    img.app34-select__item3(src="../assets/images/icon-nn5.svg" alt="")
            
            .app34-ul
                .app34-ul__li.app34-ul__li1
                    .app34-ul__li-em
                        span.app34-ul__li-em__span TRUY CẬP
                            img.app34-ul__li-em__span-img(src="../assets/images/icon-nn1.svg" alt="")
                        p.app34-ul__li-em__p.app34-ul__li1-em__p 1.203.000
                .app34-ul__li.app34-ul__li2
                    .app34-ul__li-em
                        span.app34-ul__li-em__span HỌC
                            img.app34-ul__li-em__span-img(src="../assets/images/icon-nn2.svg" alt="")
                        p.app34-ul__li-em__p.app34-ul__li2-em__p 523.000
                    .chart#graph(data-percent="100",data-size="92")
                .app34-ul__li.app34-ul__li3
                    .app34-ul__li-em
                        span.app34-ul__li-em__span THI
                            img.app34-ul__li-em__span-img(src="../assets/images/icon-nn3.svg" alt="")
                        p.app34-ul__li-em__p.app34-ul__li3-em__p 523.000
                    .chart2#graph2(data-percent="19",data-size="92")
            
            .app34-table
                table
                    thead
                        tr
                            th 
                                span STT
                            th 
                                span TỈNH/THÀNH PHỐ
                            th 
                                span TRUY CẬP
                                    img(src="../assets/images/icon-nn7.svg")
                            th 
                                span HỌC
                                    img(src="../assets/images/icon-nn7.svg")
                            th 
                                span THI
                                    img(src="../assets/images/icon-nn7.svg")
                    tbody
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
            
            .app34-select.app34-select1
                p.app34-select__p Số học sinh tham gia ATGT địa phương
                .app34-select__item
                    img.app34-select__item1(src="../assets/images/icon-nn4.svg" alt="")
                    select.app34-select__item2
                        option(selectd) Tất cả
                        option 7 ngày
                        option 6 ngày
                    img.app34-select__item3(src="../assets/images/icon-nn5.svg" alt="")
            
            ul.app34-ul1
                li.app34-ul1__li
                    span.app34-ul1__li-span 10
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 10
                        p.app34-ul1__li-em__p 12.098 
                li.app34-ul1__li
                    span.app34-ul1__li-span 11
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 11
                        p.app34-ul1__li-em__p 23.897 
                li.app34-ul1__li
                    span.app34-ul1__li-span 12
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 12
                        p.app34-ul1__li-em__p 12.098 
            ul.app34-ul2
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul2__li-span 6
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 6
                        p.app34-ul1__li-em__p.app34-ul2__li-em__p 12.098 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul2__li-span 7
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 7
                        p.app34-ul1__li-em__p.app34-ul2__li-em__p 23.897 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul2__li-span 8
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 8
                        p.app34-ul1__li-em__p.app34-ul2__li-em__p 12.098 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul2__li-span 9
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 9
                        p.app34-ul1__li-em__p.app34-ul2__li-em__p 12.098 
            ul.app34-ul3
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul3__li-span 1
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 1
                        p.app34-ul1__li-em__p.app34-ul3__li-em__p 12.098 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul3__li-span 2
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 2
                        p.app34-ul1__li-em__p.app34-ul3__li-em__p 23.897 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul3__li-span 3
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 3
                        p.app34-ul1__li-em__p.app34-ul3__li-em__p 12.098 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul3__li-span 4
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 4
                        p.app34-ul1__li-em__p.app34-ul3__li-em__p 23.897 
                li.app34-ul1__li
                    span.app34-ul1__li-span.app34-ul3__li-span 5
                    em.app34-ul1__li-em
                        span.app34-ul1__li-em__span Lớp 5
                        p.app34-ul1__li-em__p.app34-ul3__li-em__p 12.098 
            .app34-table
                table
                    thead
                        tr
                            th 
                                span STT
                            th 
                                span TỈNH/THÀNH PHỐ
                            th 
                                span THPT
                                    img(src="../assets/images/icon-nn7.svg")
                            th 
                                span THCS
                                    img(src="../assets/images/icon-nn7.svg")
                            th 
                                span TIỂU HỌC
                                    img(src="../assets/images/icon-nn7.svg")
                    tbody
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
                        tr
                            td 1
                            td An Giang
                            td 203.000
                            td 101.999
                            td 29.000
            




                        


