.banner33
    .container 
        h2.banner33-h2 Cuộc thi về ATGT
        h2.banner33-h2 12/12/2022 - 14/06/2023
      
.app33
    .container.app33-container
        .app33-lr
            .app33-left
                .app33-left__table
                    table
                        thead
                            tr 
                                th STT
                                th Bài thi
                                th Thời gian làm bài
                                th Điểm thi
                                th Dự thi
                        tbody
                            tr 
                                td 1
                                td Bài thi số 1
                                td 120 phút
                                td 90/100
                                td 
                                    a(href="").app33-left__table-btn.active Đã tham gia
                            tr 
                                td 1
                                td Bài thi số 1
                                td 120 phút
                                td 90/100
                                td 
                                    a(href="").app33-left__table-btn Tham gia
                            tr 
                                td 1
                                td Bài thi số 1
                                td 120 phút
                                td 90/100
                                td 
                                    a(href="").app33-left__table-btn Tham gia
                            tr 
                                td 1
                                td Bài thi số 1
                                td 120 phút
                                td 90/100
                                td 
                                    a(href="").app33-left__table-btn Tham gia
                    span.app33-kqlb Kết quả làm bài
                    table.app33-table1
                        tbody
                            tr 
                                td Thời gian
                                td.app33-left__table-tr__td Điểm thi
                                td Xếp hạng
                            tr.app33-left__table-tr
                                td 480 phút
                                td.app33-left__table-tr__td 320/400
                                td 123/20000
                p.app33-left__note Lưu ý khi tham gia thi
                ul.app33-left__ul
                    li.app33-left__ul-li.app33-left__ul-li1 Trả lời tất cả câu hỏi trong đề thi
                    li.app33-left__ul-li Hết thời gian làm bài
                    li.app33-left__ul-li Bấm nút "Submit" để nộp bài
                    li.app33-left__ul-li Các trường hợp thi sai luật:
                    li.app33-left__ul-li Đăng nhập một tài khoản trên hai máy hoặc hai trình duyệt khác nhau và thi cùng một thời điểm- Đang làm bài thi mà tải lại trang đề thi hoặc thoát ra không nộp bài- Mở nhiều cửa sổ vào thi một lúc- Các tài khoản vi phạm sẽ bị hệ thống tự động thoát ra ngoài và tính một lần trượt vòng thi (trừ lượt thi và không ghi nhận kết quả).
            .app33-right 
                .app33-right__table
                    .app33-right__table-head
                        h1.app33-right__table-head__h1 BẢNG XẾP HẠNG
                        .app33-right__table-sl
                            span.app33-right__table-head__sl-span 120.000
                            span.app33-right__table-head__sl-span HS
                    table
                        tbody
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                    img(src="../assets/images/icon-n1.svg")
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                    img(src="../assets/images/icon-n2.svg")
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                    img(src="../assets/images/icon-n1.svg")
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                    img(src="../assets/images/icon-n2.svg")
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                            tr 
                                td 1
                                td Nguyễn Ngọc Hoàn
                                td 
                                td 10000
                    a(href="").app33-right__table-btn Xem tất cả
                



                