.app30
    .container
        .app30-body
            span.app30-span Tra cứu /Tra cứu vi phạm
            .app30-ul
                .app30-ul__li1 CUỘC THI AN TOÀN GIAO THÔNG QUỐC GIA
                .app30-ul__em
                    .app30-ul__li 
                        span.app30-ul__li-span Học sinh:
                        p.app30-ul__li-p Nguyễn Ngọc Hoàn
                    .app30-ul__li 
                        span.app30-ul__li-span Trường: 
                        p.app30-ul__li-p THPT  Vũ Văn Hiếu
                    
                    .app30-ul__li.app30-ul__li2
                        span.app30-ul__li-span Khối:
                        p.app30-ul__li-p 12
                        .app30-ul__li.app30-ul__li3
                            span.app30-ul__li-span Lớp:
                            p.app30-ul__li-p 12a1
                .app30-ul__em
                    .app30-ul__li 
                        span.app30-ul__li-span Thời gian tham gia:
                        p.app30-ul__li-p  24/12/2022 - 30/01/2023
                    .app30-ul__li 
                        span.app30-ul__li-span Điểm làm bài:
                        p.app30-ul__li-p 320
                    .app30-ul__li 
                        span.app30-ul__li-span Thời gian làm bài: 
                        p.app30-ul__li-p 30 phút 12 giây
            .app31-right__ul.app30-infomb
                .app31-right__ul-li.app31-right__ul-li1.app30-infomb__li1
                    img(src="../assets/images/8.png" alt="").app31-right__ul-li__img
                .app31-right__ul-li.app31-right__ul-li2.app30-infomb__li2
                    .app31-right__ul-li__em
                        span.app31-right__ul-li__em-span.app30-infomb__span Học sinh:
                        p.app31-right__ul-li__p.app30-infomb__p Nguyễn Ngọc Hoàn
                    .app31-right__ul-li__em
                        span.app31-right__ul-li__em-span.app30-infomb__span Khối:
                        p.app31-right__ul-li__p.app30-infomb__p 12
                    .app31-right__ul-li__em
                        span.app31-right__ul-li__em-span.app30-infomb__span Lớp:
                        p.app31-right__ul-li__p.app30-infomb__p 12A12
                    .app31-right__ul-li__em
                        span.app31-right__ul-li__em-span.app30-infomb__span Trường:
                        p.app31-right__ul-li__p.app30-infomb__p THPT Vũ Văn Hiếu
                .popup-kqt__ul
                    .popup-kqt__ul-li 
                        .popup-kqt__ul-li__em.popup-kqt__ul-li__em3
                            img.popup-kqt__ul-li__em-img(src="../assets/images/icon-p-1.svg" alt="")
                        .popup-kqt__ul-li__em  
                            .popup-kqt__ul-li__em1.app30-infomb__em1 Thời gian
                            .popup-kqt__ul-li__em2.app30-infomb__em2 120 phút
                    .popup-kqt__ul-li.popup-kqt__ul-li1
                        .popup-kqt__ul-li__em.popup-kqt__ul-li__em3   
                            img.popup-kqt__ul-li__em-img(src="../assets/images/icon-p-2.svg" alt="")
                        .popup-kqt__ul-li__em  
                            .popup-kqt__ul-li__em1.app30-infomb__em1 Điểm thi
                            .popup-kqt__ul-li__em2.app30-infomb__em2 120
                    .popup-kqt__ul-li 
                        .popup-kqt__ul-li__em.popup-kqt__ul-li__em3
                            img.popup-kqt__ul-li__em-img(src="../assets/images/icon-p-3.svg" alt="")
                        .popup-kqt__ul-li__em  
                            .popup-kqt__ul-li__em1.app30-infomb__em1 Xếp hạng
                            .popup-kqt__ul-li__em2.app30-infomb__em2 120 

                a.popup-kqt__btn(href="").app30-infomb__btn Xem chi tiết


            .app30-ul2
                .app30-ul2__li Xếp hạng cập nhật liên tục trong 24h
                .app30-ul2__li
                    a.app30-ul2__li-a(href="") Bảng xếp hạng
            .app30-table
                table
                    thead
                        tr 
                            th Cấp
                            th Chi tiết
                            th Xếp hạng
                    tbody
                        tr 
                            td Trường
                            td Trung học cơ sở A Hải Anh
                            td 123/300
                        tr
                            td Quận/Huyện
                            td Hải Hậu
                            td 100/1000
                        tr
                            td Tỉnh/Thành phố
                            td Nam Định 
                            td 230/12000
                        tr
                            td Quốc gia
                            td Việt Nam
                            td 670/928282
            h2.app30-heading Chi tiết tham gia cuộc thi
            .app30-table
                table
                    thead
                        tr 
                            th Bài thi
                            th Thời gian bắt đầu
                            th Thời gian làm bài
                            th Điểm số
                    tbody
                        tr 
                            td Bài thi số 4
                            td 12:30<br>12/12/2022
                            td 30 phút 20 giây
                            td 80
                        tr 
                            td Bài thi số 3
                            td 12:30<br>12/12/2022
                            td 30 phút 20 giây
                            td 80
                        tr 
                            td Bài thi số 2
                            td 12:30<br>12/12/2022
                            td 30 phút 20 giây
                            td 80
                        tr 
                            td Bài thi số 1
                            td 12:30<br>12/12/2022
                            td 30 phút 20 giây
                            td 80
                
                