.app39
    .app37-head.app35-head
        .container.d-flex.justify-content-between
            h1.app35-head__h1 Thêm mới cuộc thi
    .container
        .row.mt-4
            .col-3
                span.app36-span Mã cuộc thi
            .col-9.d-flex.align-items-center
                .row.w-100.d-flex.align-items-center
                    .col-4.d-flex.align-items-center
                        span.app36-span H78AKI
                        a.app38-a(href="") Sao chép mã
                    .col-8
                        .row.d-flex.align-items-center
                            .col-6
                                span.app36-span Yêu cầu nhập mã để tham gia
                            .col-3.d-flex
                                .form-check.d-flex.align-items-center
                                    a(href="").app39-link2 Tắt
                              
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Cấp thi
            .col-9
                a.app39-link1(href="") Cấp trường
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Trạng thái
            .col-9
                .row.w-100
                    .col-4
                        a.app39-link1(href="") Đang diễn ra
                    .col-8
                        .row    
                            .col-3 
                                span.app36-span Trường học
                            .col-9
                               a.app39-link1(href="") Trường THCS A Hải Anh
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Tên cuộc thi
            .col-9
                input.app36-input1.app39-input1(placeholder="Quy tắc giao thông" readonly)
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Mô tả
            .col-9
                input.app36-input1.app39-input1(placeholder="Cuộc thi an toàn giao thông tỉnh Nam Định" readonly)
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Thời gian bắt đầu
            .col-9
                a.app42-link1(href="") 09:20 01/12/2023
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Thời gian kết thúc
            .col-9
                .app42-link1(href="") 09:20 01/12/2023
        .row.mt-4
            .col-3.d-flex.align-items-center
                span.app36-span Đề thi
        .row.mt-4.app38-table
            .col-12
                table
                    thead
                        tr
                            th STT
                            th Đề thi
                            th Số câu
                            th Thời gian làm bài
                            th Điểm 
                            th Chức năng
                    tbody
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 
                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    
                                    img(src="../assets/images/icom-20.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    
                                    img(src="../assets/images/icom-20.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    
                                    img(src="../assets/images/icom-20.svg" alt="")
                        tr
                            td 1
                            td 
                                a(href="") Đề thi số 1 

                            td 11
                            td 90 phút
                            td 100
                            td
                                .d-flex.align-items-center.justify-content-center
                                    img(src="../assets/images/icom-20.svg" alt="")
        
        .row.mt-4
            .col-12.d-flex.align-items-center
                span.app36-span  Danh sách học sinh tham gia:
                span.app36-span.mx-2 200 
        .row.mt-4.d-flex.align-items-center
            .col-2
                span.app42-span Trạng thái 
            .col-2
                .app42-select
                    select.app42-select1.app42-select2
                        option(selected) Tất cả
                        option(selected) Tất cả
                        option(selected) Tất cả
            .col-6
                input.app42-input(placeholder="Nhập tên tài khoản tìm kiếm")
        .mt-4.app38-table.app42-table
                table
                    thead
                        tr
                            th Xếp hạng
                            th Tên tài khoản
                            th Điểm
                            th Thời gian làm bài
                            th Thời gian bắt đầu tham gia
                            th Trạng thái
                            th Chức năng
                    tbody
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                        tr
                            td 1
                            td 
                                a(href="") Hoann1
                            td 100
                            td 90 phút
                            td 10h30ph 1/1/2032
                            td Đang Tham gia
                            td 
                                a.app42-a(href="") Cấm thi
                    
                .app42-control.d-flex.align-items-center.justify-content-center
                    a.app42-control1(href="").d-flex.align-items-center.justify-content-center
                        img(src="../assets/images/icon21.svg" alt="")
                    span.app42-control3 1/16
                    a.app42-control1(href="").d-flex.align-items-center.justify-content-center
                        img(src="../assets/images/icon22.svg" alt="")
