.app47
    .app37-head.app35-head
        .container.d-flex.justify-content-between
            h1.app35-head__h1 Thêm mới cuộc thi
    .container
        .row.d-flex.align-items-center
            .col-2
                span.app46-span Tên đề thi<strong>*</strong>
            .col-10
                input.app46-input.app47-input(readonly)
        .row.mt-4
            .col-12
                span.app46-span Mô tả thêm
        .row.mt-2
            .col-12
                textarea.app46-textarea.app47-input(readonly)
        .row.mt-4.d-flex.align-items-center
            .col-2
                span.app46-span Thời gian làm bài<strong>*</strong>
            .col-10
                input.app46-input2(readonly).app47-input2
                span.app46-span.mx-2 Phút
        .row.mt-4.d-flex.align-items-center
            .col-2
                span.app46-span Điểm số
            .col-10
                input.app46-input2(readonly).app47-input2
                span.app46-span.mx-2 Điểm/ 1 Câu hỏi
        .row.mt-4.app46-title
            .col-12
                h2.app46-h2 Danh sách câu hỏi trong đề 
        
        .row.bg-app46.py-4
            .col-12
                .row.d-flex.align-items-center.my-4
                    .col-4
                        ul.app46-ul
                            li.app46-ul__li.app46-ul__li1.mx-4 Câu dễ                        
                            li.app46-ul__li.app46-ul__li2.mx-4 Câu trung bình                       
                            li.app46-ul__li.app46-ul__li3.mx-4 Câu khó       
                    .col-8
                    
        
                .row.d-flex.align-items-center
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-de.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      
                .row.d-flex.align-items-center.mt-4
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-tb.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      
                .row.d-flex.align-items-center.mt-4
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-kho.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      
                .row.d-flex.align-items-center.mt-4
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-de.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      
                .row.d-flex.align-items-center.mt-4
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-tb.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      
                .row.d-flex.align-items-center.mt-4
                    .col-1.d-flex.justify-content-center   
                        span.app46-num 1
                    .col-11.app46-kho.d-flex.align-items-center.py-2
                        img(src="../assets/images/icon-23.svg" alt="").mx-4
                        span.app46-span2 Bạn thường xuyên tham gia giao thông như thế nào?    
                      





